{#MODAL ERROR #}
<div class="ui modal errorUrl">
    <div class="ui negative message">
        <div class="header">
            ERROR
        </div>
    </div>
    <div class="image content">
        <label id="mensaje"></label>
    </div>
    <div class="actions">
        <div class="ui approve button">OK</div>
    </div>
</div>


{# ***********************************MSG ERROR *******************************************#}
<input type="hidden" id="errorSave" value="Save ERROR">
<input type="hidden" id="errorDelete" value="Delete ERROR">
<input type="hidden" id="errorEdit" value="Edit ERROR">
